@model List<SAS.Models.course>

    @{
    ViewBag.Title = "displayAllCourses";
    Layout = "~/Views/Shared/_LayoutUniversity.cshtml";
    }

    <h2>Display All Courses</h2>
    @{
    foreach (var item in Model)
    {
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => item.course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.course_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => item.course_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.course_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => item.course_semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.course_semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => item.doctor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.doctor_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => item.course_hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.course_hours)
        </dd>

    </dl>
    }
    }
    @*<div>
        <h4>course</h4>
        <hr />
    </div>

    <div>
        <article>
            <table>
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Level</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Doctor</th>
                        <th scope="col">Hours</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                    int i = 1;
                    foreach (var item in Model)
                    {
                    <tr class="text-center">
                        <th scope="row">@i</th>
                        <td>@item.course_code</td>
                        <td>@item.course_name</td>
                        <td>@item.course_level</td>
                        <td>@item.course_semester</td>
                        <td>@item.doctor_name</td>
                        <td>@item.course_hours</td>
                        <td><i class="fas fa-check"></i></td>
                        @{
                        i++;
                        }
                    </tr>
                    }
                    }
            </table>
        </article>
    </div>*@
